/* GLOBAL RESET  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* Navigation */
.navC {
  color: white;
  display: flex;
  padding: 1.2%;
  background-color: rgb(60, 54, 119);
}
.logo{
  font-size: 2rem;
}
.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-size: .9rem;
}
.navLink {
  margin: 0 2%;
  text-decoration: none;
  color: white;
  align-self: center;
}
.navLink:hover {
  color: rgb(185, 184, 184);
  text-decoration: none;
}

/* Sign Up Form */
/* .signup-form {
  margin-top: 20px;
}

.signup-form Input {
  margin-top: 10px;
}

#submit-btn {
  margin-top: 15px;
  background-color: rgb(208, 248, 253);
  color: black;
} */