/* GLOBAL RESET  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: rgb(208, 248, 253);
}
.links {
  flex-grow: 1;
  text-align: center;
}
.navLink {
  padding: 0 2%;
  text-decoration: none;
  color: black;
}

/* Sign Up Form */
.signup-form {
  margin-top: 20px;
}

.signup-form Input {
  margin-top: 10px;
}

#submit-btn {
  margin-top: 15px;
  background-color: rgb(208, 248, 253);
  color: black;
}